
.logo-height {
  display: block;
  margin: auto;
  margin-bottom:10px;
}
.site-nav{
  background-color: #fee60e;
 
}

.nav-ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.nav-ul li {
  display: inline;
  float: left;
}
.nav-ul li a {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-ul li a:hover {
  background-color: #111;
}